# TiDB Configuration
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=2k1SpDjWMxU4Zdk.root
TIDB_PASSWORD=jkJ8zfQfzeAgqrNy
TIDB_DATABASE=sys

# Flask Configuration
SECRET_KEY=your-secret-key-change-this-in-production
FLASK_ENV=development
FLASK_DEBUG=True

# Application Configuration
TAX_RATE=0.12
PROMO_CODE_SAVE10=0.10
